{% extends "base.html" %}
{% load static %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <div id="home-container" class="mt-4 container">
        <h3 class="font-weight-bold">Production des renouvelables</h3>
        <div class="container mt-4">
            <h5 class="text-center">Aujourd'hui - {{ dates.today.day }}/{{ dates.today.month }}/{{ dates.today.year }}</h5>
            <canvas id="todayChart"></canvas>
        </div>
        <div class="container mt-4">
            <h5 class="text-center">Demain - {{ dates.tmw.day }}/{{ dates.tmw.month }}/{{ dates.tmw.year }}</h5>
            <canvas id="tmwChart"></canvas>
        </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>let chart_data = '{{ chart_data|safe }}';</script>
    <script src="{% static 'mychart.js' %}"></script>
{% endblock %}