{% extends "base.html" %}
{% load static %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <div id="home-container">
        <h3 class="font-weight-bold">Production des énergies renouvelables intermitentes</h3>
        <hr />
        <h5>En direct</h5>
        <div class="live-container">
            <div class="cell-container">
                <div class="cell">
                    <i class="fa fa-solar-panel fa-3x solar-panel"></i>
                    <div class="mt-2">Production : 2.32 GW</div>
                    <div class="mt-1">Facteur de charge : 12.34%</div>
                </div>
                <div class="cell mt-2">
                    <i class="fa fa-wind fa-3x wind"></i>
                    <div class="mt-2">Production : 4.07 GW</div>
                    <div class="mt-1">Facteur de charge : 35.76%</div>
                </div>
            </div>
            <div class="chart-container production-chart-container ml-5">
                <scan class="text-center font-weight-bold mb-2 mt-2">Production renouvelables actuellement</scan>
                <div class="production-sub-container">
                    <canvas id="productionChart" width="550" height="120"></canvas>
                </div>
                <p class="text-info-production mt-2">
                    Les capacitées installées de solaire photovoltaïque en France en 2020 sont de <span class="font-weight-bold solar-panel">9.6 GW</span>.<br>
                    Les capacitées installées d'éolien en France en 2020 sont de <span class="font-weight-bold wind">16.5 GW</span>.<br>
                    Données: <span class="brand-color">RTE</span>
                </p>
            </div>
        </div>

        <hr />

        <h5>Prévisions de production</h5>
        <div class="forecast-container pb-5">
            <div class="chart-container mr-2 mt-2">
                <h5 class="text-center">Aujourd'hui - {{ dates.today.day }}/{{ dates.today.month }}/{{ dates.today.year }}</h5>
                <div class="forecast-sub-container">
                    <canvas width="500" height="250" id="todayChart"></canvas>
                </div>
            </div>
            <div class="chart-container mt-2">
                <h5 class="text-center">Demain - {{ dates.tmw.day }}/{{ dates.tmw.month }}/{{ dates.tmw.year }}</h5>
                <div class="forecast-sub-container">
                    <canvas width="500" height="250" id="tmwChart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://rawgit.com/chartjs/chartjs-plugin-annotation/master/chartjs-plugin-annotation.js"></script>
    <script>let chart_data = '{{ chart_data|safe }}';</script>
    <script src="{% static 'renewable_charts.js' %}"></script>
{% endblock %}