#footer-container {
    width: 100%;
    border-top: 2px #1d2124 solid;
}

#footer-content {
    display: flex;
}

.footer-ul {
    font-size: 1.2rem;
    list-style-type: none;
    margin-left: 4rem;
}
