{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "main.css" %}">
    <title>{% block title %}My amazing site{% endblock %}</title>
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
</head>

<body>
    <div id="navbar">
        {% block navbar %}
            {% static "main.css" %}
            {{ var }}
            {% include "nav.html" %}
        {% endblock %}
    </div>


    {% block content %}{% endblock %}

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
</body>
</html>